body {
    font-family: serif;
    background-color: #333333
}

h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'calibri', serif;
    margin: 0;
    font-size: 1.2em;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    color: #cccccc;
    font-size: 1.2em;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {}


.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 32px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}